.carousel {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  border: 10px solid seashell;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

h2 {
  color: red;
  text-align: left;
  font-size: 100px;
  margin: 0%;
  
  
}

h3 {
  color: seashell;
  background-color: rgb(233, 172, 59);
  text-align: center;
  font-size: 50px;
}

.carouselItems {
  opacity: 0;
  transition-duration: 1s ease;
}

.carouselItems.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


