@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sigmar+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://images.unsplash.com/photo-1515060939377-d73d9c162a66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmVhY2glMjBmcm9tJTIwYWJvdmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80") no-repeat center center fixed;
  background-size: cover;
}

nav {
  background-color: seashell;
  text-align: left;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-family: 'Sigmar One', cursive;
  color: orange;
  font-size: 24px;
  

}

.App {
  background-color: rgba(114, 107, 107, 0.5);
  background-size: cover;
  
  
}

form {
  margin-top: 10px;
  text-align: center;
}

.header {
  background-color:rgba(223, 243, 40, 0.5);
  
}

.header h1 {
  font-size: 55px;
  text-align: left;
  color: navy;
  text-align: center;
  font-family: 'Sigmar One', cursive;
}

.place {
  background-color: rgba(255,255,255,0.4);
  text-align: center;
}

.placesNames {
  text-align: left;
  font-size: 48px;
}

.show {
  width: 900px;
  margin: 0 auto;
  display: flex;
}

.show-left {
  width: 25%;
}

.show-right {
  width: 75%;
}

.show-right img {
  width: 80%;
}

.attraction {
  height: 30px;
  display: block;
  background: rgba(255,255,255,0.4);
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.attraction-input {
  width: 83%;
  display: block;
  margin: 0 auto;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 8px;
}

.attraction-button {
  background-color: rgb(63, 141, 63);
  border: 0;
  color: #fff;
  padding: 10px 15px;
  width: 88%;
  border-radius: 5px;
}
section h1 {
  text-align: center;
  margin-left: 70px;
  font-size: 36px;
  font-family:  'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Footer{
  text-align: center;
}

.bottom {
  display: inline-flex;
}

.github {
  margin: 5px;
}

@media(max-width: 900px) {


  .App {
   text-align: center;
   display: block;
   background-size: cover;
   width: 450px;
   padding-right: 300px;
   height: 4000px;
   text-align: center;
  }



  nav {
    width: 200%;
  }

  main {
    text-align: center;
  }
  

  section {
    display: block;
  }

  .place {
    width: 400px;
  }

  .carouselItems.active div {
    margin-bottom: 100px;
  }

  .carouselItems.active div img {
    width: 200px;
  }

  .placesNames {
    font-size: 100%;
  }

  .place.show {
    height: 800px;
  }

  .show-right h1 {
    position: absolute;
    top: 80px;
    margin-left: 140px;
    font-size: 24px;
  }

  .show-right img{
    height: 200px;
    position: absolute;
    top: 140px;
    right: 20px;
    margin-top: 30px;
  }

  .show-right form {
    position: absolute;
    top: 450px;
    left: 100px;
    width: 60%;
  }

  .show-left {
    position: absolute;
    top: 450px;
  }

  .attraction-button {
    font-size: 11px;
    width: 120%;
  }

  h1 {
    font-size: 10px;
  }


  .header h1 {
    font-size: 10px;
    padding: 20px;

  }
  .Footer {
   
    bottom: 0;

  }
}
